# Web framework
Flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0

# Database
pymongo==4.6.1

# Env config
python-dotenv==1.0.1

# Vector DB + Embeddings
qdrant-client==1.9.0
fastembed==0.3.1

# Optional (if your app.py uses Streamlit UI)
streamlit==1.32.0

# Useful utilities
requests==2.31.0
